@font-face {
  font-family: "Karla";
  src: url(./asset/font/Karla-Regular.ttf) format("ttf");
}
@font-face {
  font-family: "Futura";
  src: url(./asset/font/FuturaLT-BoldOblique.woff) format("woff");
}

body {
  color: #000;
  background: white;
  font-family: Karla, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
}

/* ---------------------------------- */
/* Header */

.toggle-button {
  position: absolute;
  top: 10%;
  right: 15%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #000;
  border-radius: 10px;
}

.heading {
  color: #000;
  font-family: Futura, sans-serif;
  font-weight: 900;
  font-style: normal;
  margin-bottom: 0.2em;
  margin-top: 0;
  line-height: inherit;
}

.header__menu-item {
  display: inline;
  margin: 0 28px !important;
  font-size: 18px;
  position: relative;
  letter-spacing: 0.4px;
}

.header__logo-image svg {
  max-width: 200px;
}

svg {
  height: 125px;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.vertical-align {
  padding-top: 5rem;
}

.nav-man {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  font-weight: 700;
  font-size: 18px;
}

.nav-man li a {
  position: relative;
  display: block;
}

.header__menu-item {
  display: inline;
  margin: 0 28px;
  font-size: 18px;
  position: relative;
  letter-spacing: 0.4px;
}

.col-md-5.vertical-align {
  padding-left: 0%;
  padding-right: 0%;
}

/* ------------------------ */
/* Navbar Hover  */

ul li a:hover {
  text-decoration: none;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.header__menu-item:before {
  content: "";
  position: absolute;
  bottom: -0.56em;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ffcd1a;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: left top;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffcd1a;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

li a {
  color: #000;
}
li a:hover {
  color: #ffcd1a;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* ------------------------------------ */
/* Section « Bannière » */

.banner-content {
  width: 100%;
}

.banner-mt {
  width: 100%;
  height: 10vmax;
}

.banner-container {
  width: 100%;
  height: 30vmax;
  text-align: center;
}

.banner-box {
  max-width: 800px;
  margin: auto;
}

.banner-title-mb {
  margin-bottom: 5rem;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.title-light {
  font-size: 2rem;
  font-family: Karla, sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1px;
}

.x-title {
  font-size: 5rem;
}

strong {
  background: url("./asset/images/yellow-line.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center 100%;
  overflow: visible;
}

/* ------------------------------------ */
/* Section « Portfolio » */

.portfolio-container {
  padding: 6.5rem 0;
  background: black;
}

.portfolio-container .heading {
  color: #fff;
  margin-bottom: 2.6rem;
  margin-top: 3.7rem;
  text-align: center;
}

.clients-box {
  max-width: 1400px;
  width: 85%;
  margin: auto;
}

.grid__cell {
  padding-left: 40px;
  margin-left: 2rem;
  margin-right: 2rem;
}

.grid {
  margin: 0 0 0 -15px;
}

.client {
  margin-bottom: 5rem;
  display: block;
}

img {
  max-width: 100%;
}

/* ------------------------ */
/* Section « Slider » */
/* - Carousel */

.c {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
}

.c-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.c-open:checked + .c-item {
  position: static;
  opacity: 100;
}

.c-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.c-item img {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}

.cc {
  border-radius: 50%;
  color: #000;
  cursor: pointer;
  display: none;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  font-weight: 300;
  font-size: 6rem;
  z-index: 10;
}

.cc.prev {
  left: 2%;
}

.cc.n {
  right: 5%;
}

.cc:hover {
  color: #ffcd1a;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.carousel-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 35px;
}

.carousel-bullet:hover {
  color: #aaaaaa;
}

#carousel-1:checked
  ~ .control-1
  ~ .carousel-indicators
  li:nth-child(1)
  .carousel-bullet,
#carousel-2:checked
  ~ .control-2
  ~ .carousel-indicators
  li:nth-child(2)
  .carousel-bullet {
  color: #428bca;
}

/* - Slider-cards */

.focus-client {
  width: 90%;
  font-size: 0;
}

.focus-client.is-selected img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.focus-client.is-selected {
  box-shadow: 10px 0 19px -5px #0000005c;
  z-index: 1;
}

.focus-client img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 0.5s;
}

.focus-client__content {
  right: 10%;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 35%;
  max-width: 450px;
  background: white;
  padding: 4rem 3.9rem;
  box-sizing: border-box;
}

p {
  font-size: 1.7rem;
  font-weight: 100;
  margin-bottom: 1.3rem;
  margin-top: 1.3rem;
}

.card-title-mb {
  margin-bottom: 2.8rem;
}

.align-center {
  text-align: center;
}

.absolute {
  position: absolute;
}

.focus-client__image {
  width: 60%;
  margin: auto;
}

.clients__button {
  color: #fff;
  display: inline-block !important;
}

.button {
  text-decoration: none;
  background: transparent;
  color: #000;
  font-family: Futura, sans-serif;
  font-weight: 700;
  font-style: normal;
  background: url("./asset/images/yellow-line.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center 100%;
  overflow: visible;
  font-size: 2rem;
}

.vp {
  margin: 4rem 0 0 0;
}

.focus-client__text {
  padding-top: 1rem;
}

/* -------------------------------------------- */
/* Section « text infinite » */

article {
  font-size: 2.3rem;
  background: #ffcd1a;
  overflow: hidden;
  position: relative;
}

marquee {
  padding-top: 2rem;
  padding-bottom: 0.7rem;
  font-family: Futura, sans-serif;
  color: #fff;
}
marquee a {
  color: white;
  text-decoration: none;
}
.example-left {
  white-space: nowrap;
  position: absolute;
  text-transform: uppercase;
}

.example-left {
  -webkit-animation: mymove 8s linear infinite; /* Safari 4.0 - 8.0 */
  white-space: nowrap;
  animation: mymove 8s linear infinite alternate;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {
    left: 0;
  }
  to {
    left: -140px;
  }
}

@keyframes mymove {
  from {
    left: 0;
  }
  to {
    left: -140px;
  }
}

.example-right {
  white-space: nowrap;
  position: absolute;
  top: 2em;
  opacity: 0.4;
  text-transform: uppercase;
}

.example-right {
  -webkit-animation: urmove 8s linear infinite; /* Safari 4.0 - 8.0 */
  white-space: nowrap;
  animation: urmove 8s linear infinite alternate;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes urmove {
  from {
    right: 0;
  }
  to {
    right: -140px;
  }
}

@keyframes urmove {
  from {
    right: 0;
  }
  to {
    right: -140px;
  }
}

@keyframes early {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.early {
  animation: fadeIn ease-in 1; /* call our keyframe named fadeIn, use animation ease-in and repeat it only 1 time */

  animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

  animation-duration: 1s;
  animation-delay: 0.1s;
}

/* -------------------------------------------- */
/* Popup */

.modal-contact {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 400px;
  max-width: 80%;
}

.modal-header:after {
  content: unset;
}

.modal-contact.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 3rem;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

form input {
  border: 1px solid black;
}
form textarea {
  border: 1px solid black;
}

form button {
  background-color: #188ff7;
  color: white;
  border: 1px solid white;
  border-radius: 11%;
  margin-top: 2rem;
}

form {
  padding: 3rem 0rem;
}

@keyframes move {
  0%,
  25% {
    transform: translateX(0%);
    left: 0%;
  }
  75%,
  100% {
    transform: translateX(-100%);
    left: 100%;
  }
}

/* --------------------------- */
/* Responsive */

@media (max-width: 1000px) {
  .focus-client__content {
    width: 60%;
  }
  .card-title-mb {
    margin-bottom: 0;
  }
  p {
    font-size: unset;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .mb-20.align-center.vp {
    margin: 1rem 0 0 0;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
  .banner-box {
    width: 85%;
  }
  .banner-title-mb {
    margin-bottom: 3rem;
  }
  .x-title {
    font-size: 3rem;
  }
  .grid__cell {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 700px) {
  .focus-client__content {
    width: 60%;
    padding: 1rem 0.9rem;
  }
  .card-title-mb {
    margin-bottom: 0;
  }
  .c-item .focus-client__image {
    width: 40%;
  }
  .c-item .title-light {
    font-size: 1rem;
  }
  p {
    margin-bottom: 0rem;
    margin-top: 0rem;
  }
}
